@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif");

*{
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

body {
    background-color: #2C1E1E;
}

.content {
    background-color: #FFFFFF;
}

#header, #footer, .content {
    display: flex;
    justify-content: space-between;
}

#header-right, #social-network {
    display: flex;
    align-items: center;
}

#header-right p {
    margin-left: 20px;
}

#header img {
    margin: 20px;
}

#social-network img {
    margin: 5px;
}

#informations, #contact {
    margin: 20px;
}


.text-style1 {
    font-size: 20px;
    font-family: 'Fjalla One';
    
}
.text-style1 a {
    color: #FFFFFF;
}

.text-style2 {
    display: inline-block;
    font-family: 'Droid Serif';
    padding: 10px;
    border: 2px solid;
}

.text-style2 a {
    color: #FFFFFF;
}

.text-style3 {
    font-size: 18px;
}
.text-style3, .text-style4 {
    color: #2C1E1E;
    font-family: 'Droid Serif';
}


/*Filtres*/


.zone-filtre {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #2C1E1E;
    font-family: 'Droid Serif';
}

#filter {
    border: 2px solid;
    border-color: #2C1E1E;
    padding: 20px;
    width: 480px;
}

.table {
    display: table;
    padding: 10px;
}

main{
    height: fit-content;
    display: flex;
    justify-content: center;
}

/*Carousel*/

#front-carousel{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    margin-top: 10%;
    align-items: center;
}

#front-carousel>h1{
    font-family: 'Fjalla One';
    color: #ffffff;
    font-weight: 300;
    font-size: 200px;
}

#button-boutique {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    padding: 2%;
    width: fit-content;
    
}

* {box-sizing:border-box}

.carousel-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  z-index: 1;
}

.carouselImage{
    opacity: .7;
}

#carouselControls{
    position: absolute;
    z-index: 2;
    bottom: 4%;
    right: 50%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


h2{
    color: #000000;
    font-family: 'Droid Serif'; 
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    margin: 2px;
}

.cardTop{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardTop>img {
    width: 300px;
    object-fit: contain;
    height: 180px;
}

.card>div>button{
    display: inline-block;
    font-family: 'Droid Serif';
    color: #FFFFFF;
    padding: 14px 18px;
}
.cardTop> h2,p{
    margin: 2%;
}

/* Page produit*/

#presentation{
    padding: 2% 15%;
}
#presentation>div{
    padding: 2%;
    margin-left: 5%;
}
#presentation.table{
    padding-right: 50%;
}

#imageProduct{
    object-fit: contain;
    width: 100%;
}

.ajoutPanier{
    background-color:#B65F28 ;
    border-radius: 4px;
    border-color: transparent;
    padding: 10px 15px;
}

/*Panier*/

#panier {
    right: 0;
    display: flex;
    position: absolute;
    background-color: #fff;
    align-content: center;
    border: 1px solid #1e282d;
    border-top-width: 0;
    text-align: center;
    /* transition-duration: 0.4s; */
    transition: all 0.31s;
    z-index: 2;
    flex-direction: column;
    overflow-y: auto;
    padding: 20px;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
}

#panier.panierFerme{
    right: -500px;
}