@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif");


a {
    text-decoration: none;
}

body {
    background-color: #B65F28;
}

.content {
    background-color: #FFFFFF;
}

#header, #footer, .content {
    display: flex;
    justify-content: space-between;
}

#header-right, #social-network {
    display: flex;
    align-items: center;
}

#header-right p {
    margin-left: 20px;
}

#header img {
    margin: 20px;
}

#social-network img {
    margin: 5px;
}

#informations, #contact {
    margin: 20px;
}


.text-style1 {
    font-size: 20px;
    font-family: 'Fjalla One';
    
}
.text-style1 a {
    color: #FFFFFF;
}

.text-style2 {
    display: inline-block;
    font-family: 'Droid Serif';
    padding: 10px;
    border: 2px solid;
}

.text-style2 a {
    color: #2C1E1E;
}

.text-style3 {
    font-size: 18px;
}
.text-style3, .text-style4 {
    color: #2C1E1E;
    font-family: 'Droid Serif';
}

.zone-filtre {
    margin-top: 10px;
    margin-bottom: 10px;
}

#filter {
    border: 2px solid;
    border-color: #2C1E1E;
    padding: 20px;
}

.table {
    display: table;
    padding: 10px;
}

main{
    height: fit-content;
    display: flex;
    justify-content: center;
}
#front-carousel{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    margin-top: 10%;
    align-items: center;
}

#front-carousel>h1{
    font-family: 'Fjalla One';
    color: #ffffff;
    font-weight: 300;
    font-size: 200px;
}

#button-boutique {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    padding: 2%;
    width: fit-content;
    
}

* {box-sizing:border-box}

/* Carousel */
.carousel-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  z-index: 1;
}

.carouselImage{
    opacity: .7;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


h2{
    color: #000000;
    font-family: 'Droid Serif'; 
}

#catalogueProduit {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}

.card>img{
    width: 400px;
}

